/* Start Global Rules */

* {
    margin : 0;
    padding: 0;
}
 
body { 
    font-family: Tahoma, Arial;
}

.scroll-to-top {
    background-color: #333;
    color: #FFF;
    display: none;
    padding: 2px 5px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

/* Start Header */

.navbar {
    list-style: none;
    margin: 0;
    padding: 0px;
    background-color: #333;
    color: #EEE;
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}

.navbar li {
    display: inline-block;
    padding: 10px;

}

.navbar li a {
    color: #EEE;
    text-decoration: none;
}

.navbar li a.active {
    color: #ffea00;
}

.block {
    height: 1200px;
    background-color: #EEE;
    margin-bottom: 20px;
    padding: 30px 0;
    text-align: center;
}

/* End Sections */

/* Start Popup */

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background-color: rgb(187, 187, 187, 0.8);
    display: none;
}

.popup .inner {
    background-color: #FFF;
    border: 1px solid #CCC;
    padding: 20px;
    width: 300px;
    height: 250px;
    left: 50%;
    position: fixed;
    margin-left: -150px;
    top: 50%;
    margin-top: -125px;
    border-radius: 5px;
}

.popup .inner h2 {
    color: #777;
    margin: 0 0 10px;
    border-bottom: 1px solid #EEE;
    padding-bottom: 10px;
}

.popup .inner p {
    color: #AAA;
    line-height: 1.6;
}

.popup .inner button {
    position: absolute;
    bottom: 10px;
    right: 10px;
    padding: 2px 8px;
    background-color: #EEE;
    border: 1px solid #CCC;
    border-radius: 4px;
    cursor: pointer;
}

.show-popup {
    cursor: pointer;
    display: block;
    text-align: center;
    margin: 20px;
    background-color: #fff;
    width: 120px;
    padding: 10px;
    border-radius: 10px;
    font-weight: bold;
    color: #928440;
}